package [% config.base %];

[% INCLUDE "perl_stuff" %]

use [% config.base %]::DB;

sub new
{
    my ($package, %inputs) = @_;
    my $db_file = $inputs{db_file};
    my $object = {};
    $object->{db} = [% config.base %]::DB->new (%inputs);
    return bless $object;
}

sub postcode_to_address
{
    my ($object, $postcode) = @_;
    my $address = $object->{db}->lookup_postcode ($postcode);
    return $address;
}

1;

__END__

=head1 NAME

[% config.base %] - [% config.abstract %]

=head1 SYNOPSIS

    my $gpj = Geo::Postcodes::JP->new (
        db_file => '/path/to/database/file',
    );
    my $address = $gpj->postcode_to_address ();
    # Now $address contains the address as a hash reference

=head1 DESCRIPTION

To use this, you need to have built the database already.

The scripts to build the database are in the F<xt> directory of the
distribution. You need to edit these scripts to point to the files you
want to use.

[% INCLUDE "author" %]

# Local variables:
# mode: perl
# End:
