package [% config.base %];

[% INCLUDE "perl_stuff" %]

use [% config.base %]::DB;

sub new
{
    my ($package, %inputs) = @_;
    my $db_file = $inputs{db_file};
    my $object = {};
    $object->{db} = [% config.base %]::DB->new (%inputs);
    return bless $object;
}

sub postcode_to_address
{
    my ($object, $postcode) = @_;
    my $address = $object->{db}->lookup_postcode ($postcode);
    return $address;
}

1;

__END__

=head1 NAME

[% config.base %] - [% config.abstract %]

=head1 SYNOPSIS

    my $gpj = [% config.base %]->new (
        db_file => '/path/to/database/file',
    );
    my $address = $gpj->postcode_to_address ('3050053');
    # Now $address contains the address as a hash reference.

=head1 DESCRIPTION

This package contains modules for reading the file of postcodes
supplied by Japan Post and inserting the postcodes into an SQLite
database. The main module provides a way to access the postcodes.

=head2 Building the database

To use this, you need to have built the database already.

The scripts to build the database are in the F<xt> directory of the
distribution. You need to edit these scripts to point to the files you
want to use.

=head1 METHODS

=head2 new

    my $gpj = [% config.base %]->new (

=head2 postcode_to_address

    my $address = $gpj->postcode_to_address ('9012204');

[% INCLUDE "lookup-postcode" %]

[% INCLUDE "author" %]

# Local variables:
# mode: perl
# End:
